:root {
    /* Cores principais */
    --cor-principal: #091B36;
    --cor-secundaria: #696969;
    --cor-destaque: #e0e0e0;
    --cor-clara: #FFF;
    --cor-escura: #072648;

    /* Gradientes */
    --gradiente-metalico: linear-gradient(45deg, var(--cor-secundaria), var(--cor-destaque), #979797);
    --gradiente-claro: linear-gradient(45deg, #d1d1d1 25%, #e3e3e3 50%, #d1d1d1 75%);
    --gradiente-brilhante: linear-gradient(45deg, #d1d1d1, var(--cor-destaque), #b0b0b0);

    /* Fontes */
    --font-principal: 'Optima', sans-serif;
    --font-secundaria: 'Space Grotesk', sans-serif;
}

#especialidades {
  scroll-margin-top: 50px; /* ajuste conforme a altura do seu header */
}

.corprincipal {
    background-color: var(--cor-principal)!important;
    color: var(--cor-clara)!important;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


h1, h5 {
    font-family: 'Optima', sans-serif;
    color: transparent;
    font-weight: normal;
    background: var(--gradiente-metalico);
    background-clip: text;
    -webkit-background-clip: text;
}

p, h6 {
    color: var(--cor-clara);
}

/* Estilo para os ícones */
i {
    font-family: "Font Awesome 5 Free"; /* Certificando-se de que o ícone está sendo aplicado corretamente */
    font-weight: 900; /* Font Awesome usa "Font Awesome 5 Free" com peso 900 para ícones sólidos */
    color: transparent; /* Faz a cor do ícone transparente para exibir o gradiente */
    background: var(--gradiente-metalico);
    background-clip: text; /* Aplica o gradiente ao texto */
    -webkit-background-clip: text; /* Compatibilidade com Webkit (Chrome, Safari) */
    display: inline-block; /* Garante que o ícone se comporte como texto */
}

/* Para quando os ícones estiverem em elementos com a classe 'fa' */
.fa-check {
    color: transparent; /* Transparente para aplicar o gradiente */
    background: var(--gradiente-metalico);
    background-clip: text; /* Aplica o gradiente no ícone */
    -webkit-background-clip: text; /* Para navegadores Webkit */
    font-size: 1.5em;
}


.btn.botao-metalico {
    position: relative;
    padding: 16px 30px;  /* Padding padrão para desktop */
    font-size: 18px;     /* Tamanho de fonte padrão */
    font-weight: normal;
    background: var(--gradiente-metalico);
    color: var(--cor-principal);
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 5px;  /* Bordas arredondadas */
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1); /* Sombras suaves para efeito de profundidade */
    white-space: nowrap; /* Impede o texto de quebrar */
}

/* Ajustes para telas menores (como iPhone X) */
@media (max-width: 768px) {
    .btn.botao-metalico {
        padding: 12px 25px;  /* Ajuste o padding para telas menores */
        font-size: 16px;      /* Tamanho de fonte menor para telas pequenas */
    }
}

/* Efeito de borda metálica inox discreto */
.btn.botao-metalico::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 5px;
    background: var(--gradiente-claro);
    background-size: 300% 300%;
    z-index: -1;
    animation: inox-glow 4s ease-in-out infinite;
}

/* Animação suave e sutil para o brilho inox */
@keyframes inox-glow {
    0% {
        background-position: 300% 300%;
    }
    50% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 300% 300%;
    }
}


/*** Button Styles ***/
.btn {
    transition: .5s;
}

/*** Navbar Styles ***/
.navbar {
    padding: 15px 0;
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
}

.navbar .navbar-nav .nav-link {
    margin-left: 30px;
    padding: 0;
    outline: none;
    color: transparent; /* Torna o texto transparente para aplicar o gradiente */
    background:  var(--gradiente-metalico);
    background-clip: text; /* Aplica o gradiente diretamente nas letras */
    -webkit-background-clip: text; /* Garantir compatibilidade com navegadores Webkit */
    font-size: 16px; /* Ajuste de tamanho da fonte */
    font-weight: normal;
    transition: all 0.3s ease; /* Transição suave para efeito hover */
}

/* Efeito de hover */
.navbar .navbar-nav .nav-link:hover {
    color: transparent; /* Mantém o gradiente metálico */
    background:  var(--gradiente-metalico);
    background-clip: text; /* Mantém o gradiente nas letras */
    -webkit-background-clip: text; /* Compatibilidade */
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color:  var(--cor-clara);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .dropdown-menu .dropdown-item:hover,
.navbar .dropdown-menu .dropdown-item.active {
    color:  var(--cor-clara);
    background: linear-gradient(45deg, #696969, #e0e0e0, #979797); /* Gradiente suave e mais claro */
}

/* Mobile navbar adjustments */
@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link  {
        margin-left: 0;
        padding: 10px 0;
    }
}

/* Desktop navbar adjustments */
@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

.border-bottom {
    border-bottom: 2px solid transparent; /* Tornar a borda transparente */
    border-image: linear-gradient(45deg, #696969, #e0e0e0, #979797) 1; /* Aplica o gradiente na borda */
}


/*** Hero Header ***/
.hero-header {
    margin-top: -100px;
    padding-top: 50px;
    background: url(../img/hero1\ \(3\).webp?v=2) top center no-repeat;
    background-size: cover;
    height: 100vh;
    object-position: 5%;
}

h1.display {
    margin-top: 150px;  /* Desce o título */
    font-size: 2.9rem;
}

@media (max-width: 1024px) {
    h1.display {
        margin-top: 420px;  /* Adjust the margin-top for tablet screens */
        font-size: 3.7rem;  /* Make the font size smaller for tablet screens */
    }
}

@media (max-width: 768px) {
    .hero-header {
        background-position: 57% center;  /* Ajusta a imagem para mais à esquerda */
        height: 100vh;

    }
    h1.display {
        margin-top: 180px;  /* Adjusts the margin-top for better positioning */
        font-size: 2.4rem;  /* Smaller font size for better readability */
    }

}
/*** About Section ***/

/* Ajusta a imagem para cobrir completamente a coluna, mas limita sua altura */
.col-lg-6 img {
    object-fit: cover;        /* A imagem cobre toda a área sem distorcer */
    object-position: center 20%;
    width: 100%;              /* Largura completa */
    height: 60vh;             /* Altura da imagem como 70% da altura da viewport */
    max-height: 500px;        /* Limita a altura máxima da imagem */
}

/*** Project Section ***/

.project-item img {
    width: 100%;              /* Garante que a imagem ocupe 100% da largura da coluna */
    height: 250px;            /* Defina uma altura fixa para todas as imagens */
    object-fit: cover;        /* Assegura que as imagens cubram toda a área sem distorcer */
    object-position: center;
    transition: .5s;
}

.project-item:hover img {
    transform: scale(1.2);
}

.project-overlay {
    position: absolute;
    padding: 25px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    z-index: 1;
}


#especialidades .col-lg-5 {
    border: 4px solid transparent; /* Define a borda transparente */
    border-image: linear-gradient(45deg, #696969, #e0e0e0, #979797) 1; /* Aplica o gradiente como borda */
    overflow: hidden;
}
/********** Imagem antes e depois **********/

/* Garantir que as imagens dentro do .before-after-img tenham o mesmo tamanho */
.before-after-img {
  position: relative;
  width: 90%; /* Ajusta a largura do contêiner */
  height: 450px; /* Define uma altura fixa para o contêiner (ajuste conforme necessário) */
  overflow: hidden; /* Garante que a imagem não ultrapasse os limites do contêiner */
  margin: 0 auto; /* Garante que o contêiner fique centralizado */
}

.before-after-img img {
  width: 100%; /* Faz as imagens ocuparem toda a largura do contêiner */
  height: 100%; /* Faz as imagens ocuparem toda a altura do contêiner */
  object-fit: cover; /* Faz com que as imagens se ajustem ao tamanho do contêiner sem distorcer */
  display: block; /* Remove o espaço abaixo da imagem */
}

/* Definir uma altura fixa para os sliders para garantir consistência */
.before-after-slider {
  position: relative;
  width: 100%; /* Garante que o slider ocupe 100% da largura do contêiner */
  height: 450px; /* Ajuste a altura conforme necessário (garante que o slider tenha a mesma altura da imagem) */
  overflow: hidden; /* Garante que as imagens não ultrapassem os limites */
  margin: 0 auto; /* Centraliza o slider */
}

/* Ajuste para a barra de arraste */
.before-after-bar {
  position: absolute;
  top: 0;
  left: 50%; /* Inicialmente no meio */
  height: 100%;
  width: 4px;
  cursor: ew-resize; /* Cursor de arraste */
  z-index: 10;
  transform: translateX(-50%); /* Centraliza a barra */
}

/* Ajustes para dispositivos móveis */
@media (max-width: 767px) {
  .before-after-img {
    width: 100%; /* Faz as imagens ocuparem 100% da largura em dispositivos móveis */
    height: 300px; /* Ajusta a altura para dispositivos móveis */
  }

  .before-after-slider {
    height: 300px; /* Ajusta a altura do slider também */
  }

  .before-after-bar {
    width: 3px; /* Diminui a largura da barra de arraste em telas menores */
  }
}


/********** imagem antes e depois fim **********/

/* Inicialmente, a navbar tem um fundo sólido */
.sticky-top {
    background-color: transparent; /* Fundo branco */
    transition: background-color 0.3s ease; /* Transição suave para o fundo */
}

/* Quando o usuário rola a página */
.sticky-top.transparent {
    background-color: var(--cor-principal)
}

.fundo {
    background-image: url('../img/fundoluz1.webp');
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    background-size: cover; /* Faz a imagem cobrir toda a área do elemento */
    background-position: center; /* Centraliza a imagem dentro do elemento */
}

.fundo2 {
    background-image: url('../img/fundoluz2.webp');
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    background-size: cover; /* Faz a imagem cobrir toda a área do elemento */
    background-position: center; /* Centraliza a imagem dentro do elemento */
}

body {
  background-color: var(--cor-principal)
}


.casos-reais h5 {
    font-size: 20px;
    color:var(--cor-clara)
}

.before-after-slider {
    position: relative;
    width: 100%;
    height: 100%;
}

.before-after-img {
    position: relative;
    overflow: hidden;
}

.before-after-img img {
    width: 100%;
    display: block;
}

.before-after-img img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    clip-path: inset(0 50% 0 0); /* Começa com metade da imagem 'depois' invisível */
}
.before-after-bar {
    position: absolute;
    top: 0;
    left: 50%;
    width: 4px; /* Mais larga para ser mais visível */
    height: 100%;
    background-color: var(--cor-principal);
    cursor: ew-resize;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5; /* 50% transparente */
}

.before-after-bar::before,
.before-after-bar::after {
    content: '';
    display: block;
    width: 20px;   /* largura da seta */
    height: 20px;  /* altura da seta */
    border-top: 3px solid var(--cor-principal);
    border-right: 3px solid var(--cor-principal);
    transform: rotate(-45deg); /* seta para direita */
    position: absolute;
    opacity: 0.5; /* 50% transparente */
}

.before-after-bar::after {
    transform: rotate(-135deg); /* seta para esquerda */
    left: -20px; /* distância da barra para a seta esquerda */
}

.before-after-bar::before {
    transform: rotate(45deg); /* seta para cima */
    right: -20px; /* distância da barra para a seta direita */
}


/* Estilo dos botões do acordeão */
.accordion-button {
  color: var(--cor-principal);
  background-color: var(--cor-clara);
  border: 1px solid var(--cor-principal);
  box-shadow: none; /* Remover sombra */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Suavizar as transições */
}

/* Estilo quando o acordeão estiver expandido */
.accordion-button:not(.collapsed) {
  background: var(--gradiente-metalico);
  color: var(--cor-principal);
  border-color: transparent !important; /* Remover borda quando expandido */
}

/* Estilo para a seta do acordeão */
.accordion-button::after {
    display: none;
}

/* Estilo para a seta quando o acordeão está fechado */
.accordion-button.collapsed::after {
  color: var(--cor-principal);
}

/* Estilo das respostas (cor do texto) */
.accordion-body {
  color: var(--cor-principal);
}

/* Borda dos itens de acordeão */
.accordion-item {
  border: 1px solid var(--cor-principal);
}

/* Remover a borda quando o acordeão está aberto */
.accordion-button:not(.collapsed) {
  border-color: transparent !important; /* Remover borda quando aberto */
}

/* Estilo do fundo do acordeão quando fechado */
.accordion-button {
  background-color: var(--cor-clara);
}

/* Estilo para quando o acordeão está aberto */
.accordion-button:not(.collapsed) {
  border: 1px solid var(--cor-principal);
  background-color: var(--cor-clara);
}


/* Estilos para o Copyright */
.copyright {
  background-color: #181818; /* Fundo preto */
  color: var(--cor-clara);
}

.copyright a {
  color: var(--cor-clara);
}

